@font-face {

    font-family: urdu;
    src: url(font/urdu.ttf);
}

* {
    margin: 0rem;
    padding: 0rem;
}

.container {
    border: 0.3rem solid rgb(0, 0, 0);
    margin: auto;
    width: 26rem;
    padding: 2rem;
    align-items: center;
    background-color: #000000;
    border-radius: 20px;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 1rem;
}

.input {
    padding: 1rem 0.6rem;
    /* border: 3px solid #0548c4; */
    border-radius: 10px;
    background-color: #A2AF77;
    width: 24rem;
    position: relative;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: #000000;
}

.input:focus {
    outline: none;
}

.btn {
    width: 5.4rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    height: 4rem;
    margin: 0.4rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0.4rem #999;
}

.btn:focus {
    outline: none;
}

.btn:active {
    background-color: #ffffff;
    box-shadow: 0 0.4rem #666;
    transform: translateY(0.3rem);
}

img {
    width: 25px;
}

.font{

    font-family: urdu;
}
